.DIVA {
    background: linear-gradient(to right, #ed7dd3, #feb47b);
    font-style: italic;
    color: dimgrey;
    text-align: center;



}

@media screen {
    body {}

}

.DIVO {
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
}

.DIPL {
    width: 1000px;
    height: 500px;
    ;
    position: relative;
    top: 300px;
    left: 200px;
}

body {

    width: 10 0%;
    height: 100%;
    background: linear-gradient(to right, #ed7dd3, #feb47b);
    ;

}

.Prix {
    position: relative;
    top: 300px;
    color: dimgrey;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;

}

.derm {
    font-family: fantasy;
    font-size: 30px;
    color: dimgrey;
}

.LUXE {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.enga {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: fantasy;
}

.IMG {
    list-style: none;

}

.IM2 {
    position: relative;
    left: 100px;
    margin-top: 20px;
    border-radius: 50px;

}

.IM3 {
    position: relative;
    left: 200px;
    margin-top: 20px;
    border-radius: 50px;
}

.IM4 {
    position: relative;
    left: 300px;
    margin-top: 20px;
    border-radius: 50px;
}

.SPO {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.S1 {
    border-radius: 120px;
    position: relative;
    top: 200px;
}

.S2 {
    border-radius: 120px;
    position: relative;
    top: 20px;

}

.S3 {
    border-radius: 120px;
    position: relative;
    top: 200px;
}

.S4 {
    border-radius: 120px;
    position: relative;
    top: 200px;

}

.S5 {
    border-radius: 120px;
    position: relative;
    top: 20px;


}

.S6 {
    border-radius: 120px;
    position: relative;
    top: 200px;

}

.ravigote {
    position: relative;
    left: 250px;
    bottom: 120px;

}

.sasa {
    position: relative;
    left: 400px;
    bottom: 120px;

}

.spons {
    font-family: fantasy;
    font-size: 30px;
    color: dimgrey;

}

.arinana {
    position: relative;
    left: 550px;
    bottom: 120px;
}

.clair {
    position: relative;
    left: 600px;
    bottom: 120px;
}

.IM1 {
    border-radius: 50px;
}

@spons {
    font-family: fantasy;
    font-size: 30px;
    color: dimgrey;

}

.arinana {
    position: relative;
    left: 550px;
    bottom: 120px;
}

.clair {
    position: relative;
    left: 600px;
    bottom: 120px;
}

.IM1 {
    border-radius: 50px;
}

@media screen and (max-width:500px) {
    .IMG {}
}